footer{
    background-color: #2b3341;
    width: 100%;
    height: 60px;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
}
span{
    font-size: small;
   
}
.foot{
    margin-bottom: 10px;
}
List{
    list-style: none;
}